:root {
  --xpl-background-accent-alternative: var(--xpl-color-blue-400);
  --xpl-background-accent-alternative-bold: var(--xpl-color-blue-700);
  --xpl-background-accent-brand: var(--xpl-color-orange-600);
  --xpl-background-accent-brand-subtle: var(--xpl-color-orange-200);
  --xpl-background-accent-default: var(--xpl-color-purple-700);
  --xpl-background-accent-highlight: var(--xpl-color-yellow-500);
  --xpl-background-accent-negative: var(--xpl-color-red-600);
  --xpl-background-accent-negative-bold: var(--xpl-color-red-800);
  --xpl-background-accent-neutral: var(--xpl-color-neutral-400);
  --xpl-background-accent-neutral-bold: var(--xpl-color-neutral-500);
  --xpl-background-accent-pink: var(--xpl-color-pink-400);
  --xpl-background-accent-positive: var(--xpl-color-green-400);
  --xpl-background-accent-positive-bold: var(--xpl-color-green-700);
  --xpl-background-action-disabled: var(--xpl-color-neutral-100);
  --xpl-background-action-negative-active: var(--xpl-color-red-800);
  --xpl-background-action-negative-default: var(--xpl-color-red-700);
  --xpl-background-action-negative-focus: var(--xpl-color-red-700);
  --xpl-background-action-negative-hover: var(--xpl-color-red-800);
  --xpl-background-action-positive-active: var(--xpl-color-green-800);
  --xpl-background-action-positive-default: var(--xpl-color-green-700);
  --xpl-background-action-positive-focus: var(--xpl-color-green-700);
  --xpl-background-action-positive-hover: var(--xpl-color-green-800);
  --xpl-background-action-primary-active: var(--xpl-color-purple-800);
  --xpl-background-action-primary-default: var(--xpl-color-purple-700);
  --xpl-background-action-primary-focus: var(--xpl-color-purple-700);
  --xpl-background-action-primary-hover: var(--xpl-color-purple-800);
  --xpl-background-action-secondary-active: var(--xpl-color-neutral-0);
  --xpl-background-action-secondary-default: var(--xpl-color-neutral-0);
  --xpl-background-action-secondary-focus: var(--xpl-color-neutral-0);
  --xpl-background-action-secondary-hover: var(--xpl-color-neutral-0);
  --xpl-background-action-tertiary-active: var(--xpl-color-neutral-300);
  --xpl-background-action-tertiary-default: var(--xpl-color-transparent-0);
  --xpl-background-action-tertiary-focus: var(--xpl-color-neutral-100);
  --xpl-background-action-tertiary-hover: var(--xpl-color-neutral-100);
  --xpl-background-badge-blue: var(--xpl-color-blue-100);
  --xpl-background-badge-default: var(--xpl-background-surface-information-bold);
  --xpl-background-badge-green: var(--xpl-background-surface-positive);
  --xpl-background-badge-grey: var(--xpl-background-accent-neutral);
  --xpl-background-badge-red: var(--xpl-background-surface-negative);
  --xpl-background-badge-yellow: var(--xpl-color-yellow-100);
  --xpl-background-brand-primary: var(--xpl-color-orange-600);
  --xpl-background-brand-primary-surface: var(--xpl-color-orange-50);
  --xpl-background-brand-secondary: var(--xpl-color-purple-700);
  --xpl-background-brand-secondary-surface: var(--xpl-color-purple-50);
  --xpl-background-brand-tertiary: var(--xpl-color-brand-primary-starwhite);
  --xpl-background-messaging-information: var(--xpl-background-surface-information);
  --xpl-background-messaging-negative: var(--xpl-background-surface-negative);
  --xpl-background-messaging-negative-bold: var(--xpl-color-red-700);
  --xpl-background-messaging-positive: var(--xpl-background-surface-positive);
  --xpl-background-messaging-positive-bold: var(--xpl-background-accent-positive-bold);
  --xpl-background-messaging-warning: var(--xpl-color-yellow-100);
  --xpl-background-messaging-warning-bold: var(--xpl-color-yellow-300);
  --xpl-background-surface-backdrop: var(--xpl-color-transparent-neutral-50);
  --xpl-background-surface-bold: var(--xpl-color-neutral-1000);
  --xpl-background-surface-default: var(--xpl-color-neutral-0);
  --xpl-background-surface-information: var(--xpl-color-purple-50);
  --xpl-background-surface-information-bold: var(--xpl-color-purple-100);
  --xpl-background-surface-inverse-on-dark: var(--xpl-color-neutral-0);
  --xpl-background-surface-inverse-on-light: var(--xpl-color-neutral-1000);
  --xpl-background-surface-negative: var(--xpl-color-red-100);
  --xpl-background-surface-positive: var(--xpl-color-green-100);
  --xpl-background-surface-subtle: var(--xpl-color-neutral-100);
  --xpl-background-surface-subtlest: var(--xpl-color-neutral-50);
  --xpl-background-surface-transparent-0: var(--xpl-color-transparent-0);
  --xpl-background-surface-transparent-10: var(--xpl-color-transparent-neutral-10);
  --xpl-background-surface-transparent-25: var(--xpl-color-transparent-neutral-25);
  --xpl-background-surface-transparent-5: var(--xpl-color-transparent-neutral-5);
  --xpl-background-surface-transparent-50: var(--xpl-color-transparent-neutral-50);
  --xpl-background-surface-transparent-75: var(--xpl-color-transparent-neutral-75);
  --xpl-border-accent-alternative: var(--xpl-color-blue-100);
  --xpl-border-accent-brand: var(--xpl-color-orange-600);
  --xpl-border-accent-default: var(--xpl-color-purple-700);
  --xpl-border-accent-highlight: var(--xpl-color-yellow-200);
  --xpl-border-accent-information: var(--xpl-color-purple-700);
  --xpl-border-accent-subtle: var(--xpl-color-neutral-500);
  --xpl-border-accent-warning: var(--xpl-color-yellow-500);
  --xpl-border-active: var(--xpl-color-purple-700);
  --xpl-border-badge-blue: var(--xpl-background-surface-transparent-0);
  --xpl-border-badge-green: var(--xpl-background-surface-transparent-0);
  --xpl-border-badge-grey: var(--xpl-background-surface-transparent-0);
  --xpl-border-badge-purple: var(--xpl-background-surface-transparent-0);
  --xpl-border-badge-red: var(--xpl-background-surface-transparent-0);
  --xpl-border-badge-yellow: var(--xpl-background-surface-transparent-0);
  --xpl-border-default: var(--xpl-color-neutral-400);
  --xpl-border-focus: var(--xpl-color-purple-800);
  --xpl-border-hover: var(--xpl-color-purple-700);
  --xpl-border-inverse: var(--xpl-color-neutral-0);
  --xpl-border-large: var(--xpl-size-0125);
  --xpl-border-negative: var(--xpl-color-red-700);
  --xpl-border-none: var(--xpl-size-0);
  --xpl-border-positive: var(--xpl-color-green-700);
  --xpl-border-radius-button: var(--xpl-border-radius-full);
  --xpl-border-radius-default: var(--xpl-size-050);
  --xpl-border-radius-full: 624.9375rem;
  --xpl-border-radius-large: var(--xpl-size-100);
  --xpl-border-radius-none: var(--xpl-size-0);
  --xpl-border-radius-small: var(--xpl-size-025);
  --xpl-border-small: 0.0625rem;
  --xpl-border-strong: var(--xpl-color-neutral-600);
  --xpl-border-subtle: var(--xpl-color-neutral-200);
  --xpl-chart-blue-bold: var(--xpl-color-blue-700);
  --xpl-chart-blue-bolder: var(--xpl-color-blue-800);
  --xpl-chart-blue-boldest: var(--xpl-color-blue-900);
  --xpl-chart-blue-light: var(--xpl-color-blue-300);
  --xpl-chart-blue-lighter: var(--xpl-color-blue-200);
  --xpl-chart-blue-normal: var(--xpl-color-blue-500);
  --xpl-chart-green-bold: var(--xpl-color-green-400);
  --xpl-chart-green-bolder: var(--xpl-color-green-600);
  --xpl-chart-green-boldest: var(--xpl-color-green-800);
  --xpl-chart-green-light: var(--xpl-color-green-200);
  --xpl-chart-green-lighter: var(--xpl-color-green-100);
  --xpl-chart-green-normal: var(--xpl-color-green-300);
  --xpl-chart-neutral-bold: var(--xpl-color-neutral-700);
  --xpl-chart-neutral-bolder: var(--xpl-color-neutral-1000);
  --xpl-chart-neutral-boldest: var(--xpl-color-neutral-1200);
  --xpl-chart-neutral-light: var(--xpl-color-neutral-500);
  --xpl-chart-neutral-lighter: var(--xpl-color-neutral-400);
  --xpl-chart-neutral-normal: var(--xpl-color-neutral-600);
  --xpl-chart-orange-bold: var(--xpl-color-orange-500);
  --xpl-chart-orange-bolder: var(--xpl-color-orange-700);
  --xpl-chart-orange-boldest: var(--xpl-color-orange-900);
  --xpl-chart-orange-light: var(--xpl-color-orange-300);
  --xpl-chart-orange-lighter: var(--xpl-color-orange-200);
  --xpl-chart-orange-normal: var(--xpl-color-orange-400);
  --xpl-chart-pink-bold: var(--xpl-color-pink-700);
  --xpl-chart-pink-bolder: var(--xpl-color-pink-800);
  --xpl-chart-pink-boldest: var(--xpl-color-pink-900);
  --xpl-chart-pink-light: var(--xpl-color-pink-300);
  --xpl-chart-pink-lighter: var(--xpl-color-pink-100);
  --xpl-chart-pink-normal: var(--xpl-color-pink-500);
  --xpl-chart-purple-bold: var(--xpl-color-purple-500);
  --xpl-chart-purple-bolder: var(--xpl-color-purple-800);
  --xpl-chart-purple-boldest: var(--xpl-color-purple-900);
  --xpl-chart-purple-light: var(--xpl-color-purple-300);
  --xpl-chart-purple-lighter: var(--xpl-color-purple-200);
  --xpl-chart-purple-normal: var(--xpl-color-purple-400);
  --xpl-chart-red-bold: var(--xpl-color-red-700);
  --xpl-chart-red-bolder: var(--xpl-color-red-800);
  --xpl-chart-red-boldest: var(--xpl-color-red-900);
  --xpl-chart-red-light: var(--xpl-color-red-300);
  --xpl-chart-red-lighter: var(--xpl-color-red-100);
  --xpl-chart-red-normal: var(--xpl-color-red-500);
  --xpl-chart-teal-bold: var(--xpl-color-teal-700);
  --xpl-chart-teal-bolder: var(--xpl-color-teal-800);
  --xpl-chart-teal-boldest: var(--xpl-color-teal-900);
  --xpl-chart-teal-light: var(--xpl-color-teal-400);
  --xpl-chart-teal-lighter: var(--xpl-color-teal-200);
  --xpl-chart-teal-normal: var(--xpl-color-teal-500);
  --xpl-chart-theme-cool-1: var(--xpl-chart-purple-boldest);
  --xpl-chart-theme-cool-2: var(--xpl-chart-teal-lighter);
  --xpl-chart-theme-cool-3: var(--xpl-chart-purple-bold);
  --xpl-chart-theme-cool-4: var(--xpl-chart-teal-normal);
  --xpl-chart-theme-cool-5: var(--xpl-chart-purple-bolder);
  --xpl-chart-theme-cool-6: var(--xpl-chart-blue-normal);
  --xpl-chart-theme-cool-7: var(--xpl-chart-purple-light);
  --xpl-chart-theme-cool-8: var(--xpl-chart-blue-boldest);
  --xpl-chart-theme-fun-1: var(--xpl-chart-blue-boldest);
  --xpl-chart-theme-fun-2: var(--xpl-chart-teal-normal);
  --xpl-chart-theme-fun-3: var(--xpl-chart-green-bold);
  --xpl-chart-theme-fun-4: var(--xpl-chart-purple-bold);
  --xpl-chart-theme-fun-5: var(--xpl-chart-purple-light);
  --xpl-chart-theme-fun-6: var(--xpl-chart-pink-normal);
  --xpl-chart-theme-fun-7: var(--xpl-chart-orange-normal);
  --xpl-chart-theme-fun-8: var(--xpl-chart-teal-light);
  --xpl-chart-theme-sunset-1: var(--xpl-chart-purple-bolder);
  --xpl-chart-theme-sunset-2: var(--xpl-chart-purple-bold);
  --xpl-chart-theme-sunset-3: var(--xpl-chart-orange-bold);
  --xpl-chart-theme-sunset-4: var(--xpl-chart-orange-light);
  --xpl-chart-theme-sunset-5: var(--xpl-chart-yellow-light);
  --xpl-chart-theme-sunset-6: var(--xpl-chart-green-normal);
  --xpl-chart-theme-sunset-7: var(--xpl-chart-blue-normal);
  --xpl-chart-theme-sunset-8: var(--xpl-chart-blue-bolder);
  --xpl-chart-theme-twilight-1: var(--xpl-chart-purple-boldest);
  --xpl-chart-theme-twilight-2: var(--xpl-chart-purple-bold);
  --xpl-chart-theme-twilight-3: var(--xpl-chart-purple-light);
  --xpl-chart-theme-twilight-4: var(--xpl-chart-pink-light);
  --xpl-chart-theme-twilight-5: var(--xpl-chart-pink-normal);
  --xpl-chart-theme-twilight-6: var(--xpl-chart-orange-bold);
  --xpl-chart-theme-twilight-7: var(--xpl-chart-yellow-light);
  --xpl-chart-theme-twilight-8: var(--xpl-chart-green-bold);
  --xpl-chart-theme-vibrant-1: var(--xpl-chart-purple-bolder);
  --xpl-chart-theme-vibrant-2: var(--xpl-chart-orange-normal);
  --xpl-chart-theme-vibrant-3: var(--xpl-chart-pink-normal);
  --xpl-chart-theme-vibrant-4: var(--xpl-chart-yellow-light);
  --xpl-chart-theme-vibrant-5: var(--xpl-chart-purple-bold);
  --xpl-chart-theme-vibrant-6: var(--xpl-chart-green-normal);
  --xpl-chart-theme-vibrant-7: var(--xpl-chart-pink-bold);
  --xpl-chart-theme-vibrant-8: var(--xpl-chart-teal-light);
  --xpl-chart-theme-warm-1: var(--xpl-chart-purple-bolder);
  --xpl-chart-theme-warm-2: var(--xpl-chart-purple-bold);
  --xpl-chart-theme-warm-3: var(--xpl-chart-pink-normal);
  --xpl-chart-theme-warm-4: var(--xpl-chart-pink-light);
  --xpl-chart-theme-warm-5: var(--xpl-color-orange-600);
  --xpl-chart-theme-warm-6: var(--xpl-chart-orange-normal);
  --xpl-chart-theme-warm-7: var(--xpl-chart-yellow-normal);
  --xpl-chart-theme-warm-8: var(--xpl-chart-yellow-bolder);
  --xpl-chart-yellow-bold: var(--xpl-color-yellow-500);
  --xpl-chart-yellow-bolder: var(--xpl-color-yellow-700);
  --xpl-chart-yellow-boldest: var(--xpl-color-yellow-900);
  --xpl-chart-yellow-light: var(--xpl-color-yellow-300);
  --xpl-chart-yellow-lighter: var(--xpl-color-yellow-200);
  --xpl-chart-yellow-normal: var(--xpl-color-yellow-400);
  --xpl-color-accent-blue-dm: var(--xpl-color-blue-200);
  --xpl-color-accent-blue-lm: var(--xpl-color-blue-500);
  --xpl-color-accent-green: var(--xpl-color-green-200);
  --xpl-color-accent-pink: var(--xpl-color-pink-300);
  --xpl-color-accent-purple: var(--xpl-color-purple-300);
  --xpl-color-accent-yellow: var(--xpl-color-yellow-200);
  --xpl-color-action-disabled-dm: var(--xpl-color-gray-800);
  --xpl-color-action-disabled-lm: var(--xpl-color-gray-100);
  --xpl-color-action-primary-dm: var(--xpl-color-purple-300);
  --xpl-color-action-primary-hover-dm: var(--xpl-color-purple-400);
  --xpl-color-action-primary-hover-lm: var(--xpl-color-purple-800);
  --xpl-color-action-primary-lm: var(--xpl-color-purple-700);
  --xpl-color-action-warning-dm: var(--xpl-color-red-300);
  --xpl-color-action-warning-hover-dm: var(--xpl-color-red-400);
  --xpl-color-action-warning-hover-lm: var(--xpl-color-red-800);
  --xpl-color-action-warning-lm: var(--xpl-color-red-700);
  --xpl-color-background-2-dm: var(--xpl-color-neutral-1100);
  --xpl-color-background-2-lm: var(--xpl-color-neutral-100);
  --xpl-color-background-dm: var(--xpl-color-neutral-1200);
  --xpl-color-background-lm: var(--xpl-color-neutral-50);
  --xpl-color-blue-100: #D1F9FF;
  --xpl-color-blue-200: #BAF6FF;
  --xpl-color-blue-300: #9FDAF5;
  --xpl-color-blue-400: #85BFEB;
  --xpl-color-blue-50: #E8FCFF;
  --xpl-color-blue-500: #6AA3E0;
  --xpl-color-blue-600: #5088D6;
  --xpl-color-blue-700: #356CCC;
  --xpl-color-blue-800: #2253B3;
  --xpl-color-blue-900: #0F3999;
  --xpl-color-brand-primary-deepspace: #220021;
  --xpl-color-brand-primary-starwhite: var(--xpl-color-orange-50);
  --xpl-color-brand-primary-xplorange: var(--xpl-color-orange-600);
  --xpl-color-brand-secondary-neptune: var(--xpl-color-purple-600);
  --xpl-color-brand-secondary-pinkplanet: var(--xpl-color-pink-300);
  --xpl-color-brand-secondary-skyblue: var(--xpl-color-blue-200);
  --xpl-color-brand-secondary-sunray: #ECFD91;
  --xpl-color-brand-secondary-supernova: var(--xpl-color-green-200);
  --xpl-color-foreground-dm: var(--xpl-color-neutral-1000);
  --xpl-color-foreground-lm: var(--xpl-color-neutral-0);
  --xpl-color-gray-0: #FFFFFF;
  --xpl-color-gray-100: #F3F4F6;
  --xpl-color-gray-1000: #292632;
  --xpl-color-gray-1100: #201E29;
  --xpl-color-gray-1200: #18161F;
  --xpl-color-gray-200: #EEEFF3;
  --xpl-color-gray-300: #EAEBEF;
  --xpl-color-gray-400: #E1E2E8;
  --xpl-color-gray-50: #F8F9FA;
  --xpl-color-gray-500: #999BA8;
  --xpl-color-gray-600: #6A6D7D;
  --xpl-color-gray-700: #3C3847;
  --xpl-color-gray-800: #363240;
  --xpl-color-gray-900: #302D3B;
  --xpl-color-green-100: #C4FFED;
  --xpl-color-green-200: #74FBD0;
  --xpl-color-green-300: #52EBBA;
  --xpl-color-green-400: #4AD4A8;
  --xpl-color-green-50: #EBFFF8;
  --xpl-color-green-500: #37B88F;
  --xpl-color-green-600: #2E9977;
  --xpl-color-green-700: #24785D;
  --xpl-color-green-800: #1D614B;
  --xpl-color-green-900: #154737;
  --xpl-color-highlight-bg-dm: var(--xpl-color-transparent-0);
  --xpl-color-highlight-bg-lm: var(--xpl-color-yellow-200);
  --xpl-color-highlight-dm: var(--xpl-color-yellow-200);
  --xpl-color-highlight-lm: var(--xpl-color-yellow-500);
  --xpl-color-information-bg-dm: var(--xpl-color-transparent-0);
  --xpl-color-information-bg-lm: var(--xpl-color-secondary-bg-lm);
  --xpl-color-information-dm: var(--xpl-color-secondary-dm);
  --xpl-color-information-lm: var(--xpl-color-secondary-lm);
  --xpl-color-navigation-dm: var(--xpl-color-neutral-1000);
  --xpl-color-navigation-lm: var(--xpl-color-neutral-1000);
  --xpl-color-negative-bg-dm: var(--xpl-color-transparent-0);
  --xpl-color-negative-bg-lm: var(--xpl-color-red-100);
  --xpl-color-negative-dm: var(--xpl-color-red-300);
  --xpl-color-negative-lm: var(--xpl-color-red-600);
  --xpl-color-neutral-0: #FFFFFF;
  --xpl-color-neutral-100: #F3F4F6;
  --xpl-color-neutral-1000: #292632;
  --xpl-color-neutral-1100: #201E29;
  --xpl-color-neutral-1200: #18161F;
  --xpl-color-neutral-200: #EEEFF3;
  --xpl-color-neutral-300: #EAEBEF;
  --xpl-color-neutral-400: #E1E2E8;
  --xpl-color-neutral-50: #F8F9FA;
  --xpl-color-neutral-500: #999BA8;
  --xpl-color-neutral-600: #6A6D7D;
  --xpl-color-neutral-700: #3C3847;
  --xpl-color-neutral-800: #363240;
  --xpl-color-neutral-900: #302D3B;
  --xpl-color-orange-100: #FEEDE4;
  --xpl-color-orange-200: #FFDCCC;
  --xpl-color-orange-300: #FFBDA8;
  --xpl-color-orange-400: #F99170;
  --xpl-color-orange-50: #FEF7F3;
  --xpl-color-orange-500: #F76D43;
  --xpl-color-orange-600: #F44E27;
  --xpl-color-orange-700: #CC4121;
  --xpl-color-orange-800: #A6361A;
  --xpl-color-orange-900: #7A2714;
  --xpl-color-pink-100: #FFD9FB;
  --xpl-color-pink-200: #FFB8F9;
  --xpl-color-pink-300: #FF8DF4;
  --xpl-color-pink-400: #F26DDC;
  --xpl-color-pink-50: #FFF0FE;
  --xpl-color-pink-500: #E550C8;
  --xpl-color-pink-600: #CC3399;
  --xpl-color-pink-700: #BF1D7B;
  --xpl-color-pink-800: #990F54;
  --xpl-color-pink-900: #730B3F;
  --xpl-color-positive-bg-dm: var(--xpl-color-transparent-0);
  --xpl-color-positive-bg-lm: var(--xpl-color-green-100);
  --xpl-color-positive-dm: var(--xpl-color-green-300);
  --xpl-color-positive-lm: var(--xpl-color-green-500);
  --xpl-color-primary-bg-dm: var(--xpl-color-neutral-900);
  --xpl-color-primary-bg-lm: var(--xpl-color-orange-50);
  --xpl-color-primary-dm: var(--xpl-color-orange-400);
  --xpl-color-primary-lm: var(--xpl-color-orange-600);
  --xpl-color-purple-100: #EBE5FF;
  --xpl-color-purple-200: #DDD1FF;
  --xpl-color-purple-300: #C3ADFF;
  --xpl-color-purple-400: #A480FF;
  --xpl-color-purple-50: #F4F2FF;
  --xpl-color-purple-500: #8857FA;
  --xpl-color-purple-600: #793EF7;
  --xpl-color-purple-700: #6923F4;
  --xpl-color-purple-800: #4D1AB2;
  --xpl-color-purple-900: #330D80;
  --xpl-color-red-100: #FED9D5;
  --xpl-color-red-200: #FEC5BE;
  --xpl-color-red-300: #FF9387;
  --xpl-color-red-400: #F87263;
  --xpl-color-red-50: #FEF7F3;
  --xpl-color-red-500: #F24F3D;
  --xpl-color-red-600: #DB321F;
  --xpl-color-red-700: #C2210F;
  --xpl-color-red-800: #961305;
  --xpl-color-red-900: #731409;
  --xpl-color-secondary-bg-dm: var(--xpl-color-neutral-900);
  --xpl-color-secondary-bg-lm: var(--xpl-color-purple-50);
  --xpl-color-secondary-dm: var(--xpl-color-purple-300);
  --xpl-color-secondary-hover-dm: var(--xpl-color-purple-400);
  --xpl-color-secondary-hover-lm: var(--xpl-color-purple-800);
  --xpl-color-secondary-lm: var(--xpl-color-purple-700);
  --xpl-color-stroke-dm: var(--xpl-color-neutral-600);
  --xpl-color-stroke-lm: var(--xpl-color-neutral-400);
  --xpl-color-teal-100: #BCF1FF;
  --xpl-color-teal-200: #8EE8FF;
  --xpl-color-teal-300: #60DEFF;
  --xpl-color-teal-400: #31CFF8;
  --xpl-color-teal-50: #EAFBFF;
  --xpl-color-teal-500: #1DB0D6;
  --xpl-color-teal-600: #0D92B4;
  --xpl-color-teal-700: #017492;
  --xpl-color-teal-800: #005970;
  --xpl-color-teal-900: #003E4E;
  --xpl-color-text-action-dm: var(--xpl-color-primary-dm);
  --xpl-color-text-action-lm: var(--xpl-color-primary-lm);
  --xpl-color-text-primary-dm: var(--xpl-color-gray-0);
  --xpl-color-text-primary-lm: var(--xpl-color-gray-900);
  --xpl-color-text-reverse-dm: var(--xpl-color-gray-1000);
  --xpl-color-text-reverse-lm: var(--xpl-color-gray-0);
  --xpl-color-text-secondary-dm: var(--xpl-color-gray-500);
  --xpl-color-text-secondary-lm: var(--xpl-color-gray-600);
  --xpl-color-text-warning-dm: var(--xpl-color-red-300);
  --xpl-color-text-warning-lm: var(--xpl-color-red-700);
  --xpl-color-transparent: var(--xpl-color-transparent-0);
  --xpl-color-transparent-0: rgba(255, 255, 255, 0);
  --xpl-color-transparent-light-10: rgba(255, 255, 255, 0.1);
  --xpl-color-transparent-light-25: rgba(255, 255, 255, 0.25);
  --xpl-color-transparent-light-5: rgba(255, 255, 255, 0.05);
  --xpl-color-transparent-light-50: rgba(255, 255, 255, 0.5);
  --xpl-color-transparent-light-75: rgba(255, 255, 255, 0.75);
  --xpl-color-transparent-neutral-10: rgba(48, 45, 59, 0.1);
  --xpl-color-transparent-neutral-25: rgba(48, 45, 59, 0.25);
  --xpl-color-transparent-neutral-5: rgba(48, 45, 59, 0.05);
  --xpl-color-transparent-neutral-50: rgba(48, 45, 59, 0.5);
  --xpl-color-transparent-neutral-75: rgba(48, 45, 59, 0.75);
  --xpl-color-trivial-bg-dm: var(--xpl-color-transparent-0);
  --xpl-color-trivial-bg-lm: var(--xpl-color-gray-400);
  --xpl-color-trivial-dm: var(--xpl-color-gray-500);
  --xpl-color-trivial-lm: var(--xpl-color-gray-600);
  --xpl-color-yellow-100: #FFEDBA;
  --xpl-color-yellow-200: #FFE18F;
  --xpl-color-yellow-300: #FFD563;
  --xpl-color-yellow-400: #FFC937;
  --xpl-color-yellow-50: #FFF8E6;
  --xpl-color-yellow-500: #FFBE0B;
  --xpl-color-yellow-600: #D69D00;
  --xpl-color-yellow-700: #AD7F00;
  --xpl-color-yellow-800: #856100;
  --xpl-color-yellow-900: #5C4300;
  --xpl-font-family-default: apple-system, system-ui, 'Segoe UI', Arial, Helvetica, Roboto, sans-serif;
  --xpl-font-size-body: var(--xpl-size-0875);
  --xpl-font-size-callout: var(--xpl-size-075);
  --xpl-font-size-caption: var(--xpl-size-0625);
  --xpl-font-size-display-1: var(--xpl-size-350);
  --xpl-font-size-display-2: var(--xpl-size-300);
  --xpl-font-size-display-3: var(--xpl-size-250);
  --xpl-font-size-title-1: var(--xpl-size-200);
  --xpl-font-size-title-2: var(--xpl-size-150);
  --xpl-font-size-title-3: var(--xpl-size-125);
  --xpl-font-size-title-4: var(--xpl-size-100);
  --xpl-font-size-title-5: var(--xpl-size-0875);
  --xpl-font-weight-bold: 700;
  --xpl-font-weight-label-default: var(--xpl-font-weight-medium);
  --xpl-font-weight-label-strong: var(--xpl-font-weight-bold);
  --xpl-font-weight-medium: 500;
  --xpl-font-weight-normal: 400;
  --xpl-font-weight-semibold: 600;
  --xpl-icon-badge-blue: var(--xpl-background-accent-alternative-bold);
  --xpl-icon-badge-default: var(--xpl-background-accent-default);
  --xpl-icon-badge-green: var(--xpl-background-accent-positive-bold);
  --xpl-icon-badge-grey: var(--xpl-icon-subtle);
  --xpl-icon-badge-red: var(--xpl-background-accent-negative);
  --xpl-icon-badge-yellow: var(--xpl-background-accent-highlight);
  --xpl-icon-brand: var(--xpl-color-brand-primary-xplorange);
  --xpl-icon-default: var(--xpl-color-neutral-1000);
  --xpl-icon-disabled: var(--xpl-color-neutral-600);
  --xpl-icon-information: var(--xpl-color-purple-700);
  --xpl-icon-inverse: var(--xpl-color-neutral-0);
  --xpl-icon-inverse-on-dark: var(--xpl-color-neutral-0);
  --xpl-icon-inverse-on-light: var(--xpl-color-neutral-1000);
  --xpl-icon-negative: var(--xpl-color-red-700);
  --xpl-icon-positive: var(--xpl-color-green-700);
  --xpl-icon-subtle: var(--xpl-color-neutral-500);
  --xpl-icon-warning: var(--xpl-color-yellow-600);
  --xpl-size-0: 0;
  --xpl-size-0125: 0.125rem;
  --xpl-size-025: 0.25rem;
  --xpl-size-0375: 0.375rem;
  --xpl-size-050: 0.5rem;
  --xpl-size-0625: 0.625rem;
  --xpl-size-075: 0.75rem;
  --xpl-size-0875: 0.875rem;
  --xpl-size-100: 1rem;
  --xpl-size-1125: 1.125rem;
  --xpl-size-125: 1.25rem;
  --xpl-size-150: 1.5rem;
  --xpl-size-175: 1.75rem;
  --xpl-size-200: 2rem;
  --xpl-size-225: 2.25rem;
  --xpl-size-250: 2.5rem;
  --xpl-size-300: 3rem;
  --xpl-size-350: 3.5rem;
  --xpl-size-400: 4rem;
  --xpl-size-450: 4.5rem;
  --xpl-size-500: 5rem;
  --xpl-size-600: 6rem;
  --xpl-size-700: 7rem;
  --xpl-size-800: 8rem;
  --xpl-size-900: 9rem;
  --xpl-size-font-body: var(--xpl-size-0875);
  --xpl-size-font-callout: var(--xpl-size-075);
  --xpl-size-font-caption: var(--xpl-size-0625);
  --xpl-size-font-title-1: var(--xpl-size-175);
  --xpl-size-font-title-2: var(--xpl-size-150);
  --xpl-size-font-title-3: var(--xpl-size-125);
  --xpl-size-font-title-4: var(--xpl-size-100);
  --xpl-size-font-title-5: var(--xpl-size-0875);
  --xpl-size-radius-button: var(--xpl-size-radius-full);
  --xpl-size-radius-default: 0.5rem;
  --xpl-size-radius-full: 62.4375rem;
  --xpl-size-radius-large: 1rem;
  --xpl-size-radius-none: 0;
  --xpl-size-radius-small: 0.125rem;
  --xpl-size-spacing-0: 0;
  --xpl-size-spacing-10: 0.625rem;
  --xpl-size-spacing-112: 7rem;
  --xpl-size-spacing-12: 0.75rem;
  --xpl-size-spacing-128: 8rem;
  --xpl-size-spacing-14: 0.875rem;
  --xpl-size-spacing-144: 9rem;
  --xpl-size-spacing-16: 1rem;
  --xpl-size-spacing-2: 0.125rem;
  --xpl-size-spacing-20: 1.25rem;
  --xpl-size-spacing-24: 1.5rem;
  --xpl-size-spacing-28: 1.75rem;
  --xpl-size-spacing-32: 2rem;
  --xpl-size-spacing-36: 2.25rem;
  --xpl-size-spacing-4: 0.25rem;
  --xpl-size-spacing-40: 2.5rem;
  --xpl-size-spacing-48: 3rem;
  --xpl-size-spacing-56: 3.5rem;
  --xpl-size-spacing-6: 0.375rem;
  --xpl-size-spacing-64: 4rem;
  --xpl-size-spacing-72: 4.5rem;
  --xpl-size-spacing-8: 0.5rem;
  --xpl-size-spacing-80: 5rem;
  --xpl-size-spacing-96: 6rem;
  --xpl-space-0: 0;
  --xpl-space-10: 0.625rem;
  --xpl-space-112: 7rem;
  --xpl-space-12: 0.75rem;
  --xpl-space-144: 9rem;
  --xpl-space-16: 1rem;
  --xpl-space-2: 0.125rem;
  --xpl-space-24: 1.5rem;
  --xpl-space-32: 2rem;
  --xpl-space-4: 0.25rem;
  --xpl-space-40: 2.5rem;
  --xpl-space-48: 3rem;
  --xpl-space-56: 3.5rem;
  --xpl-space-6: 0.375rem;
  --xpl-space-64: 4rem;
  --xpl-space-72: 4.5rem;
  --xpl-space-8: 0.5rem;
  --xpl-space-80: 5rem;
  --xpl-text-badge-blue: var(--xpl-text-strong);
  --xpl-text-badge-default: var(--xpl-text-strong);
  --xpl-text-badge-gray: var(--xpl-text-strong);
  --xpl-text-badge-green: var(--xpl-text-strong);
  --xpl-text-badge-red: var(--xpl-text-strong);
  --xpl-text-badge-yellow: var(--xpl-text-strong);
  --xpl-text-default: var(--xpl-color-neutral-900);
  --xpl-text-disabled: var(--xpl-text-subdued);
  --xpl-text-inverse: var(--xpl-color-neutral-0);
  --xpl-text-inverse-on-dark: var(--xpl-color-neutral-0);
  --xpl-text-inverse-on-light: var(--xpl-color-neutral-1000);
  --xpl-text-link-default: var(--xpl-color-purple-700);
  --xpl-text-link-hovered: var(--xpl-color-purple-800);
  --xpl-text-link-visited: var(--xpl-color-pink-800);
  --xpl-text-negative: var(--xpl-color-red-700);
  --xpl-text-positive: var(--xpl-color-green-700);
  --xpl-text-strong: var(--xpl-color-neutral-1100);
  --xpl-text-subdued: var(--xpl-color-neutral-600);
  --xpl-z-index-100: 100;
  --xpl-z-index-200: 200;
  --xpl-z-index-300: 300;
  --xpl-z-index-400: 400;
  --xpl-z-index-500: 500;
  --xpl-z-index-600: 600;
  --xpl-z-index-700: 700;
  --xpl-z-index-800: 800;
  --xpl-z-index-900: 900;
}
